# Виртуальное окружение
/venv/

# Файлы базы данных
*.sqlite3
db.sqlite3

# Папки с кэшем Python
__pycache__/
*.pyc

# Папка с медиафайлами (если вы не хотите хранить их в Git)
/media/

# Папка со статикой, собранной collectstatic
/staticfiles/